body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-color: #f3f3f3;
}

#brand {
  color: white;
}

.placeImage {
  width: 100%;
  height: 250px;
}

.brandLogo {
  width: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgb(0 0 0 / 60%);
  border-radius: 50%;
}

.flex {
  display: flex;
}
.product {
  background-color: #fff;
}

.randomProduct {
  width: auto;
  max-height: 120px;
  margin: auto;
}
.productOfDay {
  width: auto;
  max-height: 120px;
  margin: auto;
}

footerlink a {
  color: #c5c5c5 !important;
  text-decoration: none;
}
footerlink a:hover {
  color: #e4e4e4 !important;
}
